* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#container {
    display: grid;
    grid-template-columns: 50px repeat(26, 100px);
    grid-template-rows: 50px repeat(20, 30px);
    /* border: 1px solid #ccc; */
}

.cell {
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}

.header-cell {
    background-color: #ffffff;
    font-weight: bold;
    text-align: center;

}
#top-bar{
   color: green;
   padding: 10px;
   margin: 5px;
}
button {
    padding: 5px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.selected-cell{
    background: lightblue;
    border:2px solid green;
    outline: none;
}
